<ul class="nav text-bg-primary p-3">
    <li class="nav-item">
        <a class="nav-link text-bg-primary" aria-current="page" href="/">Lista juegos</a>
    </li>
    {% if (session and session.usuario) %}   
    <li class="nav-item">
        <a class="nav-link text-bg-primary" href="/auth/logout">Cerrar sesión: {{ session.usuario }}</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link text-bg-primary" href="/auth">Iniciar sesión</a>
    </li>
    {% endif %}
</ul>