<div class="card">
  <h1 class="card-header">Ficha de juego:</h1>
  <div class="card-body">
    <img src="" alt="">
    <p class="card-text"><strong>Nombre:</strong> {{juego.nombre}}</p>
    <p class="card-text"><strong>Descripción:</strong> {{juego.descripcion}}</p>
    <p class="card-text"><strong>Precio:</strong> {{juego.precio}}</p>
    <div class="card-footer">
      <h3>Ediciones del juego</h3>
      <p class="card-text"> {{juego.edicion.nombre}}</p>
      <p class="card-text"> {{juego.edicion.anyoLanzamiento}}</p>
    </div>
  </div>
</div>