@keyframes iluminar{
    from {
        background-color: #666;
        color: #eee;
    }
    to{
        background-color: #888;
        color: #fff;
    }
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    padding: 12px 30px 12px 30px;
    font-size: 1.8em;
    background-color: #eee;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
nav > ul{
    width: 100%;
    top: 32px;
    color: #eee;
    background-color: #666;
}
li.categoria{
    float: left;
}
nav a{
    color: #eee;
    background-color: #666;
    text-decoration: none;
    width: 160px;
    padding-top: 7px;
    padding-right: 20px;
    display: block;
    text-align: center;
    cursor: pointer;
}
nav a:hover{
    color: #fff;
    background-color: #888;
    -moz-animation: iluminar 0.4s linear;
    -webkit-animation: iluminar 0.4s linear;
    animation: iluminar 0.4s linear;
}
ul.submenu{
    transition-property: height;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    -webkit-tansition-property: height;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.5s;
    -moz-tansition-property: height;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0.5s;
    position: absolute;
    height: 0px;
    overflow: hidden;
}
li.categoria > a{
    transition-property: padding;
    transition-timing-function: ease-out;
    transition-delay: 0.5s;
    -webkit-tansition-property: padding;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: 0.5s;
    -moz-tansition-property: padding;
    -moz-transition-timing-function: ease-out;
    -moz-transition-delay: 0.5s;
}
li.categoria a:hover{
    padding: 10px 20px 10px 20px;
}
li.categoria:hover ul{
    height: 100px;
}
footer{
    color: #eee;
    background-color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
}