#mainCarrito {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;

  margin-top: 1em;
  margin-bottom: 3em;

  color: $colorPalabras;

  .tituloCarrito {
    margin: 0;
    font-size: 2em;
  }

  .totalCarrito {
    margin-top: 0;
    margin-bottom: 2.2em;
  }

  .contenidoIzquierdaCarrito {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-right: 5em;

    background-color: $colorFondoSegundario;
    border-radius: 10px;
    padding: 2em;

    -webkit-box-shadow: 0px 0px 28px 10px rgba(35, 40, 46, 1);
    -moz-box-shadow: 0px 0px 28px 10px rgba(35, 40, 46, 1);
    box-shadow: 0px 0px 28px 10px rgba(35, 40, 46, 1);

    .carritoProductos {
      .carritoJujutsu {
        margin-bottom: 1em;
      }

      .carritoProducto {
        display: flex;
        width: 30em;
        border: 1px solid $colorPalabras;
        border-radius: 10px;

        ul {
          padding-left: 0;
          list-style: none;
        }

        .imgProductoCarrito {
          width: 100px;
          height: 150px;
          padding: 0.7em;
          border-radius: 20px;
        }

        .cantidadCarrito {
          padding: 0.3em;
          width: 4em;
          border-radius: 5px;
          margin-top: 1em;
        }
      }
    }
  }

  .carritoZonapago {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    background-color: $colorFondoSegundario;
    border-radius: 10px;
    padding: 2em;
    margin-top: 2.5em;

    -webkit-box-shadow: 0px 0px 28px 10px rgba(35, 40, 46, 1);
    -moz-box-shadow: 0px 0px 28px 10px rgba(35, 40, 46, 1);
    box-shadow: 0px 0px 28px 10px rgba(35, 40, 46, 1);

    .carritoBotonespago {
      text-align: center;

      .botonContinuar {
        height: 35px;
        text-align: center;
        margin-bottom: 0.3em;
        border-radius: 30px;
        padding-left: 11em;
        padding-right: 11em;
        color: $colorPalabras;
        font-weight: bold;
        background-color: $colorPrincipal;
        border: 0;
        box-shadow: 0 0 10px $colorPrincipal;

        &:hover {
          @include animationHoverManga;
        }
      }

      .botonO {
        margin: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      .botonPaypal {
        width: 4em;
        height: 30px;
        background-color: $colorPalabras;
        margin-top: 0.3em;

        border-radius: 30px;
        padding-left: 9.6em;
        padding-right: 9.6em;

        &:hover {
          @include animationHoverManga;
        }
      }
    }

    .carritoResumen {
      .carritoTabla {
        .carritoTablaPrecio {
          padding-left: 9.9em;
          text-align: right;
        }
        .carritoTablaPrecio2 {
          padding-left: 12em;
          text-align: right;
        }
      }
      hr {
        border: 0.5px dashed $colorPalabras;
      }
    }
  }
  .carritoTabla {
    margin-top: 1em;

    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .codigoPro {
    width: 27.5em;
    height: 1.6em;

    margin-top: 1em;
    border-radius: 5px;
    border: 0;

    &::placeholder {
      color: black;
      font-weight: bold;
    }
  }

  .carritoFormaspago {
    margin-top: 2em;
    h5 {
      margin-bottom: 0.2em;
      font-weight: 400;
      font-size: x-small;
    }
    .imgFormasPago {
      width: 23em;
    }
  }
}

@include responsive(1080px) {
  #mainCarrito {
    flex-wrap: wrap;
    align-content: center;

    margin-left: 2em;
    margin-right: 2em;

    .contenidoIzquierdaCarrito {
      margin-right: 0;
    }
  }
}

@include responsive(580px) {
  .contenidoIzquierdaCarrito {
    padding: 1em;

    .carritoProducto {
      width: 18em !important;

      .imgProductoCarrito {
        width: 70px;
        height: 120px;
        padding: 0.5em;
      }

      .cantidadCarrito {
        padding: 0.2em;
        width: 2em;
      }
    }
  }
  .carritoZonapago {
    width: 19em !important;

    .botonContinuar {
      padding-left: 8em !important;
      padding-right: 8em !important;
    }

    .botonPaypal {
      padding-left: 7em !important;
      padding-right: 7em !important;
    }

    .carritoResumen {
      .carritoTabla {
        .carritoTablaPrecio {
          padding-left: 5em !important;
        }
        .carritoTablaPrecio2 {
          padding-left: 7em !important;
        }
      }
      hr {
        border: 0.5px dashed $colorPalabras;
      }
    }
  }

  .codigoPro {
    width: 22em !important;
  }

  .imgFormasPago {
    width: 18.5em !important;
  }
}
